@import "../../mixins.scss";

.video-bg {
  max-width: 1920px;
  height: 720px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;

  align-items: center;
  text-align: center;
  top: 0;
  left: -25px;
  aspect-ratio: 16/9;
  @include sm {
    width: 300px;
  }
}
